*{
    margin:0;
    padding:0;
    font-family:Poppins;
}
.head{
    font-family:Rubik Doodle Shadow;
    font-weight: 700;
    color:#0C090D;
    color:transparent;
    background-image: linear-gradient(#140F2D,#422040);
    -webkit-background-clip:text; 
  -webkit-text-stroke:0.1vh black;
  letter-spacing:2px;

}
.cus{
    font-family:Pacifico;
}
.top #first {
    animation:shake 4s linear infinite;
}
.top #second{
    animation:shake2 4s linear infinite; 
}

.sdw{
    box-shadow:0 0 10px 6px rgba(0,0,0,0.5);
    background:#F2F3D9;
}
.option_img img{
    transition: 0.6s;
    opacity: 0.7;
}
.option_img:hover img{
  transform: scale(1.2);
  opacity: 1;
}
.bor{
    box-shadow:0 0  10px 6px rgba(0,0,0,0.5);
    background-image:linear-gradient(#AB87FF,#BFD2BF); 
}
.bgs{
    background-image: linear-gradient(#140F2D,#422040);  
}
.uw{
    width:350px;
    height:200px;
}
